.div_bocks{
    width: 100px;
    height: 100px;
    background: orange;
}
#popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: none;
    width: 200px;
    height: 100px;
    background: orange;
    text-align: center;
    padding: 20px;
}
.close_button {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 120;
}